<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.bangju.dao.UserMapper">
    <resultMap id="findUserHasRolesMap" type="UserDO">
        <id property="id" column="uid"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="email" property="email"></result>
        <collection property="roles" ofType="RoleDO" javaType="java.util.ArrayList">
            <id property="id" column="id"></id>
            <result column="name" property="name" javaType="string" jdbcType="VARCHAR"></result>
            <result column="desc" property="desc" javaType="string" jdbcType="VARCHAR"></result>
        </collection>
    </resultMap>
    <select id="findUserByUsernameHasRoles" resultMap="findUserHasRolesMap">
        select
            user.id as uid ,
            user.username,
            user.password,
            user.email,
            role.id,
            role.name,
            role.desc
        from
            user
            left join
            user_role
        on
            user.id = user_role.user_id
            left join
            role
            on
            user_role.role_id = role .id
        where user.username =#{username}
    </select>

    <select id="findUserByEmailHasRoles" resultMap="findUserHasRolesMap">
        select
            user.id as uid ,
            user.username,
            user.password,
            user.email,
            role.id,
            role.name,
            role.desc
        from
            user
            left join
            user_role
        on
            user.id = user_role.user_id
            left join
            role
            on
            user_role.role_id = role .id
        where user.email =#{email}
    </select>
</mapper>
